$borderRadius: 0.4rem;

.App {
  text-align: center;
  padding: 2rem;
}

h1 {

  margin: 0 0 2rem 0;
}

.weatherDay {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20rem;
  height: 15rem;
  outline: lightgray solid 1px;
  padding: 0.5rem;
  margin: 0 1rem 1rem 0;
  border-radius: $borderRadius;
  box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.3);

  .mainInfo {
    flex: 1; /* 1/3 */
    display: flex;
    flex-direction: column;

    .tempVal {
      font-size: 1.4rem;
      font-weight: bold;
    }

    .minMaxTemp {
      margin-top: 0.5rem;
      font-size: 0.8rem;
    }
  }

  .additionalInfo {
    flex: 2; /* 2/3 */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 2rem;
    padding-right: 1rem;

    span {
      color: gray;
    }
  }
}

.forecast {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.autocomplete {
  &Wrapper {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  &Input {
    width: 20rem;
    height: 1.5rem;
    padding: 0.5rem;
  }

  &InputWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    span {
      cursor: pointer;
      font-size: 2rem;
      position: absolute;
      padding: 1rem;
    }
  }

  &Suggestions {
    width: 21rem;
    outline: lightgray solid 1px;
    border-radius: 0 0 $borderRadius $borderRadius;
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 1;
    background-color: white;
    top: 2.7rem;
    position: absolute;

    li {
      height: 1.5rem;
      &:hover {
        background-color: hsl(240, 3%, 94%);
      }
    }
  }
}

.spinnerWrapper {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
    display: flex;
  }
  .loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0;
    border-radius: 50%;
    border: 5px solid black;
    animation: prixClipFix 2s linear infinite ;
  }

  @keyframes rotate {
    100%   {transform: rotate(360deg)}
  }

  @keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
  }
}